@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:wght@200&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: #003559;
    position: relative;
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #0353a4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    margin-top: 4rem;
    font-size: 42px;
    letter-spacing: 5px;
}
.input-top-left,
.input-top-right,
.input-bottom-left,
.input-bottom-right {
    position: absolute;
    width: 4rem;
    height: 2rem;
    font-size: 20px;
    text-align: center;
    background-color: #061a40;
    outline: 0;
    border: 0;
    color: aliceblue;
}
.input-top-left {
    top: 20%;
    left: 20%;
}
.input-top-right {
    top: 20%;
    right: 20%;
}
.input-bottom-left {
    bottom: 20%;
    left: 20%;
}
.input-bottom-right {
    bottom: 20%;
    right: 20%;
}
.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#infoPreviewer {
    background-color: #061a40;
    color: white;
    width: 400px;
    height: 200px;
    font-size: 22px;
    font-family: inherit;
    pointer-events: none;
}
.btn {
    background-color: #b9d6f2;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    margin: 0 10px 0 10px;
    font-size: 14px;
    text-transform: uppercase;
}
.btn:hover {
    opacity: 0.89;
}
.btn:active {
    transform: translateY(2px);
}
